<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ asset('bundles/framework/css/structure.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/framework/css/body.css') }}" rel="stylesheet" />
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
</head>
<body>
    <header>
        <h1>Application</h1>
        {% if is_granted("IS_AUTHENTICATED_OPENID") %}
            Authenticated.
            <a href="{{ path('fp_openid_security_logout') }}">Logout</a>
        {% else %}
            <a href="{{ path("fp_openid_security_check", {'openid_identifier': 'http://steamcommunity.com/openid'}) }}">Authenticate via OpenID</a>
        {% endif %}
    </header>
    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>
